# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Square
SQUARE_ACCESS_TOKEN=
SQUARE_APPLICATION_ID=
SQUARE_LOCATION_ID=
NEXT_PUBLIC_SQUARE_APPLICATION_ID=
SQUARE_ENVIRONMENT=sandbox

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@retrofitcreations.com

# App
NEXT_PUBLIC_SITE_URL=https://retrofitcreations.com
